mat-toolbar{
    color: white;
    background-color: black;
}
#photos-table {
    height: 600px;
    width: 100%;
    margin: auto;
}
#main-container {
    height: 610px;
    padding: 5px;
    // margin-top: 20px;
}
#large-photo{
    background-color: rgb(189, 189, 189);
}
.example-spacer {
    flex: 1 1 auto;
}
.mat-table-icon {
    color: rgb(5, 3, 114);
}
.simple-table-icon {
    color: rgb(194, 0, 162);
}